body{
font-family: Arial;
margin:0;
background:#f4f4f4;
}

header{
background:#222;
color:white;
text-align:center;
padding:40px;
}

nav{
background:#333;
text-align:center;
padding:10px;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

section{
padding:40px;
}

.card{
background:white;
padding:20px;
margin:20px 0;
border-radius:8px;
box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

.bug{
background:#fff3cd;
padding:20px;
border-left:5px solid orange;
}

footer{
text-align:center;
padding:20px;
background:#222;
color:white;
}